
body {
    background: #311281;
    font-family: Arial;
}
h1 {
    color: red;
}
/* yQqZL1nL0Z4sZxHUbKi6m9GoLrqw62Tkm6CrprlfBFQmZ7EpKCbSDxlIKnDVuCg4en4cNKHgtbb0iMz1BUJmeewh0ZXGCLtSZANJvBDxM6UvBUCwKQgV6cGNySYri7xdWO842BPvikvF8AGESJ3UDG5KtJGLQzDrcVCAs59wHWfMzejPYrugPHBGqyH6CkOZfhY1Nspc */
